/Hdmi_Module/CAM/output_files
/Hdmi_Module/CAM/.qsys_edit
/Hdmi_Module/CAM/db
/Hdmi_Module/CAM/greybox_tmp
/Hdmi_Module/CAM/incremental_db
/Hdmi_Module/HDMI_controller/output_files
/Hdmi_Module/HDMI_controller/db
/Hdmi_Module/HDMI_controller/incremental_db
*.bsf
*.qpf
*.qsf
*.qws
*.bak
*.rpt
/Hdmi_Module/PISO/db
/Hdmi_Module/PISO/incremental_db
/Hdmi_Module/PISO/output_files
*.vwf
*.cmp
