/Hdmi_Module/CAM/output_files
/Hdmi_Module/CAM/.qsys_edit
/Hdmi_Module/CAM/db
/Hdmi_Module/CAM/greybox_tmp
/Hdmi_Module/CAM/incremental_db
/Hdmi_Module/HDMI_controller/output_files
/Hdmi_Module/HDMI_controller/db
/Hdmi_Module/HDMI_controller/incremental_db
*.bsf
*.qpf
*.qsf
*.qws
*.bak
*.rpt
/Hdmi_Module/PISO/db
/Hdmi_Module/PISO/incremental_db
/Hdmi_Module/PISO/output_files
*.vwf
*.cmp
/Hdmi_Module/CAM/simulation/modelsim/rtl_work
/top_level/software/nios_bsp/obj
/top_level/software/nios_bsp/HAL
/top_level/software/nios_bsp/drivers
/top_level/software/nios_bsp/.settings
/top_level/software/nios_bsp
/top_level/software/nios/create-this-app
/top_level/software/nios/Makefile
/top_level/software/nios/nios.elf
/top_level/software/nios/nios.map
/top_level/software/nios/nios.objdump
/top_level/software/nios/obj
/top_level/software/nios/.settings
/top_level/software/nios/mem_init
/top_level/software/nios/system
